.Header {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: baseline;
    padding: 0.5%;
    margin-bottom: 10%;
    background-color:#5e775a;
    color: #fff;
}