
.crop-type {
  position: relative;
  display: inline-block;
  margin-right: 10px;
  cursor: pointer;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

button {
  padding: 10px 20px;
  margin: 10px;
  font-size: 16px;
  background-color: #ffffff;
  border: none;
  border-radius: 20px;
  cursor: pointer;

  &:active {
    opacity: 50%;
  }

  &:hover {
    color: #22663e9b;
  }

  transition: background-color 0.3s ease;
}

button.selected {
  background-color: #22663e9b;
}

.inputBoxMain {
  width: 300px;
  height: 50px;
  margin-top: 30px;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: larger;
}