.NavBar {
    background-color: #5e775a;
    color: white;
}

.NavMenu {
    background-color: #5e775a;
    flex-direction: column;
    display: flex;
    color: white;
    width: 0%;
    height:100%;
    position:fixed;
    top:75px;
    left:0px;
    z-index: 1;
    visibility: hidden;
    padding-top:5%;
    margin-left: 0%;


}

.MenuLogo {
    margin-left: 0%;
    position:fixed;
    top:35px;
    left:15px;
    z-index: 1;
}