.NavBar {
    background-color: #5e775a;
    color: white;
}

.NavMenu {
    background-color: #5e775a;
    flex-direction: column;
    display: flex;
    flex:1;
    color: white;
    width: 0%;
    height:100%;
    position:fixed;
    top:75px;
    left:0px;
    z-index: 1;
    visibility: hidden;
    padding-top:5%;
    margin-left: 0%;


}

.MenuLogo {
    margin-left: 0%;
    position:fixed;
    top:35px;
    left:15px;
    z-index: 1;
}

.NavButton {
    padding-top:15px;
    padding-bottom:15px;
    margin-bottom: 30%;
    text-decoration: none;
    cursor: pointer;
    font-size: 20px;
    background-color: #5e775a;
    display: block;
    transition: 0.3s;
    border-width: 2px;
    border-radius: 10px;
    border: 2px solid #8d8c8c;
    color:white;
    margin-left:10%;
    margin-right:10%;
    justify-content:"center";
    &:hover {
        color: #cbd2cc;
        border: 2px solid #cbd2cc;
    }

}
