
.simulate-parent {
    /* width: 100%; */
    height:100%;
    display: flex;
    flex-direction: column;
    /* justify-content: flex-start; */
}

.edit-simulation {
    margin-left:8%;
    margin-bottom:10px;
    padding-bottom:10px;
    width: 30%;
    height: 45%;
    position: absolute;
    background-color: white;
    border-radius: 20px;
    border-width:2px;
    border-color: white;
    color: #20582a;
}

.display-simulation {
    margin-left:5%;
    margin-bottom:10%;
    padding-bottom:2%;
    margin-right: 8%;
    width: 95%;
    height: 95%;
    position:relative;
    background-color: white;
    color: #20582a;
}

.simulate-piechart {
  margin-left:10%;
  margin-bottom:10%;
  padding-bottom:2%;
  margin-right: 10%;
  width: 80%;
  height: 50%;
  position: absolute;
  background-color: white;
  border-radius: 20px;
  border-width:2px;
  border-color: white;
  color: #20582a;
  display:flex;
  flex-direction: row;
}

.simulate-linegraph {
  margin-left:10%;
  margin-bottom:10%;
  margin-top:550px;
  margin-right: 10%;
  width: 80%;
  height: 50%;
  position: absolute;
  background-color: white;
  border-radius: 20px;
  border-width:2px;
  border-color: white;
  color: #20582a;
  display:flex;
  flex-direction: row;
}

.input-variables {
  width:50%;
  margin-left:2%;
  margin-top:2%;
  padding-bottom:2%;

}

.inputBox {
    width: 80%;
    height: 30px;
    margin-top: 10px;
    padding-left: 8px;
    margin-right: 20px;
    margin-left : 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: large;
  }

  .inputBoxNext {
    width: 80%;
    padding-left: 8px;
    margin-bottom:10px;
    margin-right: 20px;
    margin-left : 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: large;
  }

  button {
    margin-bottom: 0.5px;
    font-size: 16px;
    background-color: #ffffff;
    border: 2px solid #20582a;
    border-color: #20582a;
    border-width: 2px;
    border-radius: 10px;
    cursor: pointer;
  
    &:active {
      opacity: 50%;
    }
  
    &:hover {
      color: #22663e9b;
    }
  
    transition: background-color 0.3s ease;
  }

  .tooltip {
    position: absolute;
    z-index: 10;
    display: inline-block;
    background-color: black;
    padding: 10px;
    border-width: 2px;
    border-color: white;
    border-radius: 5px;
    fill-opacity: 100;
    font-family: "Robot Mono", sans-serif;
    color: whitesmoke;
    padding: 1rem;
    font-size: 15px;
    z-index: 100;
    visibility: hidden;
  }
  
  
  #pie {
    /* background-color: black; */
    position: relative;
    /* top: 50%;
    left: 10%; */
    z-index: 1;

  }