.view-parent {
    height:100vh;
    display: flex;
    flex-direction: column;
    justify-self: center;
    justify-items: center;
}

.sim-card {
    background-color: white;
    width: 55%;
    margin-left: 25%;
    margin-bottom:100px;
    height: 400px;
    border-radius: 20px;
    padding-top:20px;
    flex-direction: column;
    display: flex;
    justify-content:left;
    justify-self: left;
    font-size: larger;

&:hover {
    box-shadow: 0 0 100px rgba(1, 21, 4, 0.2); 
  }

  transition: box-shadow 0.3s ease;
}

.text-row {
    margin-bottom:10px;
    justify-content: left;
    text-align: left;
    margin-left:30px;
    color:darkgreen;
}

.text-elem {
    font-size:medium;
    padding: 5px;
    text-align: left;
    color:darkgreen;
}

.input-var-grid{
    margin-left:25px;
    display:grid;
    column-gap: 30px;
    grid-template-columns: auto auto auto;
}

.view-button {
    margin-left:35px;
    margin-top:50px;
    width:200px;
    color: darkgreen;
    &:hover {
        box-shadow: 0 0 30px rgba(1, 21, 4, 0.2); 
      }
    
      transition: box-shadow 0.3s ease;
}
